* {
    margin: 0;
    padding: 0;
}
.hero {
    height: 100vh;
    width:100%;
    background-image: url(images/Maldives_Webpage_Img/background.png);
    background-size: cover;
    background-position: center;
}

.logo {
    width: 250px;
    height: 100px;
    position: absolute;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2 ;
    
}
.logo img {
    width: 100px;
}
.sidebar {
    width: 250px;
    height: 100vh;
    top:0;
    left:0;
    background: rgba( 255,255,255,0.6);
    position: absolute;
    z-index:1 ;
}
.text-box {
    position: absolute;
    top: 50%;
    transform: rotate(-90deg);
    text-align: center;
    
}
.content {
    color: #fff;
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}
.content h1 {
    font-size: 100px;
}
.content p {
    margin: 10px 0 40px;
}
.btn {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    padding: 10px 0;
    background: #fff;
    color:#000;
    border-radius: 3px;
    cursor: pointer;

}
.btn img {
    width: 30px;
    margin-right: 15px;
}
#backVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    display:none;
}
@media (min-aspect-ratio: 16/9) {
    #backVideo {
        width: 100%;
        height: auto;
    }
    
}
@media (max-aspect-ratio: 16/9) {
    #backVideo {
        width: auto;
        height: 100%;
    }
}
